// placeholder
::placeholder{
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: $Gray;
    font-family: 'Raleway', sans-serif;
}

// universal css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}